#game-grid {
    width: 500px;
    height: 500px;
    background-color: #b8af9e;
    position: relative;
    margin: 0 auto;
}

#startGame {
    text-align: center;
    display: block;
    line-height: 500px;
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(102, 0, 204);
    background-color: yellow;
}

#game-grid div.tile {
    margin: 20px 0px 0px 20px;
    width: 100px;
    height: 40px;
    padding: 30px 0;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
}

#game-grid div.tile0 {
    background: #ccc0b2;
}

#game-grid div.tile2 {
    color: #7c736a;
    background: #eee4da;
}

#game-grid div.tile4 {
    color: #7c736a;
    background: #ece0c8;
}

#game-grid div.tile8 {
    color: #fff7eb;
    background: #f2b179;
}

#game-grid div.tile16 {
    color: #fff7eb;
    background: #f59563;
}

#game-grid div.tile32 {
    color: #fff7eb;
    background: #f57c5f;
}

#game-grid div.tile64 {
    color: #fff7eb;
    background: #f65d3b;
}

#game-grid div.tile128 {
    color: #fff7eb;
    background: #edce71;
}

#game-grid div.tile256 {
    color: #fff7eb;
    background: #edcc61;
}

#game-grid div.tile512 {
    color: #fff7eb;
    background: #ecc850;
}

#game-grid div.tile1024 {
    color: #fff7eb;
    background: #edc53f;
}

#game-grid div.tile2048 {
    color: #fff7eb;
    background: #eec22e;
}
