* {
    margin: 0px;
    padding: 0px;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 12px;
}

body {
    background-color: #008080;
}

#mainPanel {
    position: absolute;
    width: 900px;
    height: 600px;
    border: 3px outside;
    overflow: hidden;
    background-color: #000;
}

#backGround {
    position: absolute;
    width: 1400px;
    height: 600px;
    background-image: url(../images/interface/background1unsodded.jpg);
    background-position: -115px 0px;
    background-repeat: no-repeat;
    visibility: visible;
    z-index: 0;
}

#grass {
    position: absolute;
    height: 117px;
    width: 770px;
    top: 280px;
    left: 132px;
    z-index: 1;
    background-image: url(../images/interface/sod1row.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

#plants,
#zombies {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

#plants div {
    position: absolute;
    top: 294px;
    z-index: 9999;
}

#zombies img {
    position: absolute;
}
